name: Publish Docker Image to GHCR
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '.gitignore'
      - '.dockerignore'
jobs:
  docker-build-y-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Loguearse en GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Armar la imagen y treparla a GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: |
            ghcr.io/${{ github.repository_owner }}/app_futbol_admin:latest
            ghcr.io/${{ github.repository_owner }}/app_futbol_admin:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: self-hosted
    needs: docker-build-y-push
    steps:
      - name: Bajar la nueva imagen y reiniciar el desmadre
        working-directory: /home/fabianshady/Projects/agenda/compose
        run: |
          docker compose --profile football-apps pull web_futbol
          docker compose --profile football-apps up -d